* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --element-border-radius: 0.5rem;
    --element-background: rgba(var(--bw, 255), var(--bw, 255), var(--bw, 255), var(--opE, 0.47));
    --active-background: rgba(var(--bw, 255), var(--bw, 255), var(--bw, 255), var(--opA, 0.6278));
    --fullscreen-background: hsl(var(--hue, 200), var(--saturation3, 25%), var(--lit, 10%));
    --fullscreen-text-color: hsl(var(--hue, 200), var(--saturation1, 50%), var(--txt, 28.5%));
    --color-one: hsl(var(--hue, 200), var(--saturation1, 60%), 50%);
    --color-two: hsl(var(--hue, 200), var(--saturation2, 80%), 30%);
    --text-color: hsl(var(--hue, 200), var(--saturation1, 50%), var(--txt, 28.5%));
    --print-font: 'Libre Baskerville', serif;
    --control-font: 'Roboto', sans-serif;
  }

  html {
    background: linear-gradient(180deg, var(--color-one) 0%, var(--color-two) 100%);
    font-size: var(--font-size, 16px);
  }

.wrapper {
    width: 100%;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    padding: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: var(--print-font);
    color: var(--text-color);
    
}

button {
    all: unset;
    font-family: var(--control-font);
    cursor: pointer;
}

label {
    all: unset;
}

h1 {
    font-size: 1.2rem;
    font-family: var(--print-font);
    margin: 0.5rem 0.25rem;
}

h2 {
    font-size: 1rem;
    font-family: var(--print-font);
    margin: 0.5rem 0.25rem;
}

h3 {
    font-size: 1rem;
    font-weight: 400;
    font-family: var(--print-font);
    margin: 0.25rem 0.25rem;
}

a {
    /* text-decoration: none; */
    color: var(--text-color);
    /* all: unset;
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer; */
}

#book-panel h1, 
#book-panel h2,
#book-panel h3,
#book-panel .chapters-buttons {
    padding: 0.5rem 0;
}

.nav-bar,
.control-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control-bar {
    width: calc(100% + 8px);
}

.tab,
.button {
    flex: 0.25;
    height: 48px;
    background: var(--element-background);
    border-radius: var(--element-border-radius);
    margin: 4px;
    text-align: center;
    font-weight: 800;
    font-size: var(--control-size, 16px);
    font-family: var(--control-font);
    color: var(--color-one);
}

.control-bar .button {
    color: var(--color-two);
    font-size: calc(var(--control-size, 16px) + 4px);
    cursor: pointer;
}

.active.tab,
.active.button {
    background: var(--active-background);
}

.panel {
    display: none;
    width: 100%;
    height: calc(calc(var(--vh, 1vh) * 100) - 64px);
    flex-direction: column;
    align-items: center;
    padding: 0 4px;
    
}

.active.panel {
    display: flex;
}

#fullscreen-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    /* height: calc(var(--vh, 1vh) * 100 - 120px); */
}


#settings-panel {
    display: none;
    width: 100%;
    height: 200px;
    margin-top: 8px;
    margin-bottom: 4px;
    padding: 4px;
    background: var(--element-background);
    border-radius: var(--element-border-radius);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

#settings-panel.active {
    display: flex;
}

.slide-container {
    width: 100%;
    font-size: var(--control-size, 16px);
    text-align: center;
}

.slider-label {
    font-weight: 800;
    font-family: var(--control-font);
    color: var(--color-two);
    padding: 10px;
}

.slider {
    all: unset;
    width: 90%;
    height: 18px;
    border-radius: 12px;
    padding: 2px;
    margin: 4px;
    background-color: var(--color-two);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: var(--element-background);
    overflow: visible;
    cursor: pointer;
}

  .slider::-moz-range-thumb { 
    -moz-appearance: none;
    width: 18px;
    height: 18px;
    border-radius: 10px;
    background-color: var(--element-background);
    overflow: visible;
    cursor: pointer;
}

.slider::-moz-focus-outer { border: 0; }

.search {
    width: 100%;
    position: relative;
}

#search-bar {
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: var(--element-border-radius);
    background: var(--element-background);
    margin: 0.25rem 0;
    padding: 1rem;
    font-size: 1rem;
    font-family: var(--control-font);
    color: var(--text-color);
    font-weight: 600;
}

#search-bar::placeholder {
    color: var(--color-one);
    max-width: 80vw;
}

#search-bar:focus {
    background: var(--active-background);
    outline: none;
}

.fas.fa-times {
    position:absolute;
    right: 0.5rem;
    top: 0.625rem;
    padding: 0.5rem;
    color: var(--color-one);
    font-size: 1.5rem;
}

#chapter-list,
#library-list,
#book-list {
    width: 100%;
    height: 100%;
    margin: 4px 0;
    overflow-y: scroll;
}

#book-list::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
}

.card {
    width: 100%;
    min-height: 8rem;
    border-radius: var(--element-border-radius);
    background: var(--element-background);
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#book-panel .card {
    /* text-align: center; */
    min-height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.book-buttons,
.library-buttons,
.download-buttons {
    display: none;
    margin: 0 -0.25rem;

}

.book-buttons,
.card.active .download-buttons,
.card.active .library-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.issued,
.sub-title {
    display: none;
}

#book-panel .issued,
#book-panel .sub-title,
.card.active .issued,
.card.active .sub-title {
    display: block;
}

.book-buttons .button,
.library-buttons .button,
.download-buttons .button {
    display: inline-block;
    width: 3rem;
    height: 50px;
    color: var(--text-color);
    font-size: calc(var(--control-size, 16px) + 4px);
    line-height: 50px;
    flex: 1;
}

.author {
    cursor: pointer;
}

.subjects {
    max-height: 3.25rem;
    margin: 0 -0.25rem;
    overflow-y: hidden;
}

#book-panel .subjects,
.card.active .subjects {
    max-height: fit-content;
}

.tag {
    display: inline-block;
    border-radius: var(--element-border-radius);
    background: var(--element-background);
    margin: 0.15rem 0.25rem;
    padding: 0.1rem 0.25rem;
}

.chapterButton {
    display: block;
    width: calc(100% - 1.5rem);
    padding: 0.5rem;
    margin: 0.5rem 0.25rem;
    font-family: var(--print-font);
    background: var(--element-background);
    border-radius: var(--element-border-radius);
    font-size: 1.1rem;
    line-height: 1.9;
}

#page {
    width: 100%;
    height: calc(var(--vh, 1vh) * 100 - 120px - var(--settings-height, 8px));
    margin: 4px 0;
    padding: 1rem;
    padding-bottom: 1.5rem;
    background: var(--active-background);
    border-radius: var(--element-border-radius);
    overflow-x: hidden;
    /* overflow-y: hidden; */
    white-space:normal;
    font-size: 1.1rem;
    line-height: 1.9rem;
    position: relative;
}

.control-bar label {
    display: flex;
    align-items: center;
    justify-content: center;
}

#fileInput {
    display: none;
}

#page .center,
#page h1,
#page h2,
#page h3,
#page h4 {
    text-align: center;
    padding: 1rem 0;
}

#page div {
    width: 100%;
    min-height: 1rem;
    /* padding: 1rem 0; */
}

#page pre {
    padding: 1rem 0;
    white-space:pre-line;
    font-family: var(--print-font);
    font-style: italic;
}

#page i {
    /* padding: 1rem 0; */
    font-family: var(--print-font);
    font-style: italic;
}

#page img {
    object-fit: contain;
    width: calc(100% + 2rem);
    height: calc(100% - 2.6rem);
    /* border-radius: var(--element-border-radius); */
    margin: 1rem -1rem;
}

#page hr {
    all: unset;
    display: block;
    height: 0;
}

#page .pagenum {
    display: none;
}

/* Progress Bar */

#page::after {
    display: block;
    content: "";
    position: absolute;
    bottom: calc(var(--element-border-radius));
    border-radius: calc(var(--element-border-radius) / 2);
    width: 0;
    width: calc(var(--progress, 0) * calc(calc(100% - 2rem) / 1));
    height: var(--element-border-radius);
    background-color: var(--text-color);
}

/* #start-button::after {
    display: block;
    content: "";
    position: relative;
    bottom: calc(var(--element-border-radius));
    border-radius: calc(var(--element-border-radius) / 2);
    width: calc(var(--progress, 1) * 100%);
    height: var(--element-border-radius);
    background-color: var(--text-color);
} */

/* #page span {
    width: 100%;
    height: 3rem;
    padding: 1rem;
    display: block;
} */

/* #page a {
    text-align: center;
    height: auto;
} */

#fullscreen-wrapper:-webkit-full-screen {
    background: linear-gradient(180deg, var(--color-one) 0%, var(--color-two) 100%);
    color: var(--fullscreen-text-color);
    border-radius: 0;
}

#fullscreen-wrapper:-ms-fullscreen {
    background: linear-gradient(180deg, var(--color-one) 0%, var(--color-two) 100%);
    color: var(--fullscreen-text-color);
    border-radius: 0;
}

#fullscreen-wrapper:fullscreen {
    background: linear-gradient(180deg, var(--color-one) 0%, var(--color-two) 100%);
    color: var(--fullscreen-text-color);
    border-radius: 0;
}

#fullscreen-wrapper:-webkit-full-screen #page {
    height: calc(100vh - var(--settings-height, 8px) + 16px);
    margin: 0;
    border-radius: 0;
}

#fullscreen-wrapper:-ms-fullscreen #page {
    height: calc(100vh - var(--settings-height, 8px) + 16px);
    border-radius: 0;
}

#fullscreen-wrapper:fullscreen #page {
    height: calc(100vh - var(--settings-height, 8px) + 16px);
    border-radius: 0;
}

#fullscreen-wrapper:-webkit-full-screen #settings-panel {
    margin-top: 0px;
    border-radius: 0;
}

#fullscreen-wrapper:-ms-fullscreen #settings-panel {
    margin-top: 0px;
    border-radius: 0;
}

#fullscreen-wrapper:fullscreen #settings-panel {
    margin-top: 0px;
    border-radius: 0;
}

#fullscreen-wrapper:-webkit-full-screen #page::after {
    margin-left: -1rem;
    border-radius: 0;
    width: calc(var(--progress, 0.01) * 100%);
    height: calc(var(--element-border-radius) / 1.5);
    bottom: 0;
}

#fullscreen-wrapper:-ms-fullscreen #page::after {
    margin-left: -1rem;
    border-radius: 0;
    width: calc(var(--progress, 0.01) * 100%);
    height: calc(var(--element-border-radius) / 1.5);
    bottom: 0;
}

#fullscreen-wrapper:fullscreen #page::after {
    margin-left: -1rem;
    border-radius: 0;
    width: calc(var(--progress, 0.01) * 100%);
    height: calc(var(--element-border-radius) / 1.5);
    bottom: 0;
}